{% extends '/base.twig' %}

{% block title %}Zoznam ziakov v {{ className }}{% endblock %}

{% block content %}
    <h3>Znamky {{ studentName }} na predmete {{ subjectName }}</h3>
    <p>
        <a class="btn btn-danger" href="{{ baseUrl }}/teacherMan/subject/subjectid/{{ subjectId }}/classid/{{ classId }}"><i class="fa fa-arrow-left"></i> Spat</a>
        <a class="btn btn-success" href="{{ baseUrl }}/teacherMan/editGrade/studentlogin/{{ studentLogin }}/subjectid/{{ subjectId }}/classid/{{ classId }}"><i class="fa fa-plus"></i> Pridat znamku</a>
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Opis</th>
            <th>Znamka</th>
            <th>Datum</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.description }}</td>
                <td>{{ grade.grade }}</td>
                <td>{{ grade.date }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ baseUrl }}/teacherMan/editGrade/gradeid/{{ grade.grade_id }}/classid/{{ classId }}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" href="{{ baseUrl }}/teacherMan/deleteGrade/gradeid/{{  grade.grade_id }}/classid/{{ classId }}"><i class="fa fa-close"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}