{% extends '/base.twig' %}

{% block title %}Zoznam predmetov{% endblock %}

{% block content %}
    <h3>Zoznam predmetov</h3>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Predmet</th>
            <th>Id</th>
            <th>Trieda</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.id }}</td>
                <td>{{ subject.classroom_name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ baseUrl }}/teacherMan/subject/subjectid/{{ subject.id }}/classid/{{ subject.classroom_id }}"><i class="fa fa-address-card"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}