{% extends '/base.twig' %}

{% block title %}Upravi큐 predmet{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header bg-info text-light">Upravi큐 predmet</div>
                <div class="card-body">
                    <form action="{{ baseUrl }}/subjectMan/edit" method="post">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input type="text" class="form-control" name="id" id="id"
                                   placeholder="Id" value="{{ subject.id }}">
                        </div>
                        <div class="form-group">
                            <label for="meno">Nazov</label>
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Meno" value="{{ subject.name }}">
                        </div>
                        <div class="form-group">
                            <label for="teacher">Vyucujuci</label>
                            <select class="form-control" name="teacher_id" id="teacher_id">
                                {% for teacher in teachers %}
                                    <option value={{ teacher.user_id }}>{{ teacher.login }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <button type="submit" class="btn btn-info pull-right">Ulo탑i큐</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}