{% extends '/base.twig' %}

{% block title %}Zoznam predmetov{% endblock %}

{% block content %}
    <h3>Zoznam predmetov</h3>
    <p>
        <a class="btn btn-success" href="{{ baseUrl }}/subjectMan/edit"><i class="fa fa-plus"></i> Nový predmet</a>
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th class="sort"><i class="fa fa-sort"></i>Predmet</th>
            <th class="sort"><i class="fa fa-sort"></i>Id</th>
            <th class="sort"><i class="fa fa-sort"></i>Vyučujúci</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.id }}</td>
                <td>{{ subject.teacher_name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ baseUrl }}/subjectMan/edit/id/{{ subject.id }}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" href="{{ baseUrl }}/subjectMan/delete/id/{{ subject.id }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}