{% extends '/base.twig' %}

{% block title %}Pridat ziaka{% endblock %}

{% block content %}
    <h3>Pridat ziakov do {{ className }}</h3>
    <a class="btn btn-danger" href="{{ baseUrl }}/classMan/students/classid/{{ classId }}"><i class="fa fa-arrow-left"></i> Spat na zoznam ziakov</a>
    <table class="table table-striped table-hover table-bordered" id="table">
        <thead>
        <tr>
            <th id="sort">Login</th>
            <th>Meno</th>
            <th id="sort">Priezvisko</th>
            <th>Mail</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.classroom_id != classId %}
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.meno }}</td>
                <td>{{ user.priezvisko }}</td>
                <td>{{ user.mail }}</td>
                <td>
                    <a class="btn btn-success" href="{{ baseUrl }}/classMan/addStudent/classid/{{ classId }}/studentlogin/{{ user.login }}"><i class="fa fa-check"></i></a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}