{% extends '/base.twig' %}

{% block title %}Zoznam tried{% endblock %}

{% block content %}
    <h3>Zoznam tried</h3>
    <p>
        <a class="btn btn-success" href="{{ baseUrl }}/classMan/editClass"><i class="fa fa-plus"></i> Nova trieda</a>
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Trieda</th>
            <th>Id</th>
            <th>Pocet studentov</th>
            <th>Pocet predmetov</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classrooms %}
            <tr>
                <td>{{ class.name }}</td>
                <td>{{ class.id }}</td>
                <td>{{ class.nostudents }}</td>
                <td>{{ class.nosubjects }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ baseUrl }}/classMan/editClass/classname/{{ class.name }}"><i class="fa fa-edit" data-placement="top" title="Upravit triedu"></i></a>
                    <a class="btn btn-danger" href="{{ baseUrl }}/classMan/deleteClass/classid/{{ class.id }}"><i class="fa fa-trash" data-toggle="tooltip" title="Vymazat triedu"></i></a>
                    <a class="btn btn-warning text-white" href="{{ baseUrl }}/classMan/students/classid/{{ class.id }}"><i class="fa fa-address-book" data-toggle="tooltip" title="Spravovat ziakov"></i></a>
                    <a class="btn btn-success" href="{{ baseUrl }}/classMan/subjects/classid/{{ class.id }}"><i class="fa fa-book" data-toggle="tooltip" title="Spravovat predmety"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}