{% extends '/base.twig' %}

{% block title %}Zoznam ziakov v {{ className }}{% endblock %}

{% block content %}
    <h3>Zoznam ziakov v {{ className }}</h3>
    <p>
        <a class="btn btn-danger" href="{{ baseUrl }}/classMan"><i class="fa fa-arrow-left"></i> Spat</a>
        <a class="btn btn-success" href="{{ baseUrl }}/classMan/addStudent/classid/{{ classId }}"><i class="fa fa-plus"></i> Pridat ziaka do triedy</a>
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Login</th>
            <th>Meno</th>
            <th>Priezvisko</th>
            <th>Mail</th>
            <th>Rola</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.login }}</td>
                <td>{{ student.meno }}</td>
                <td>{{ student.priezvisko }}</td>
                <td>{{ student.mail }}</td>
                <td>{{ student.role }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ baseUrl }}/classMan/removeStudent/classid/{{ classId }}/studentlogin/{{ student.login }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}