{% extends '/base.twig' %}

{% block title %}Zoznam predmetov v {{ className }}{% endblock %}

{% block content %}
    <h1>Zoznam predmetov v {{ className }}</h1>
    <p>
        <a class="btn btn-success" href="{{ baseUrl }}/classMan/addSubject/classid/{{ classId }}"><i class="fa fa-plus"></i> Pridat predmet</a>
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Predmet</th>
            <th>Id</th>
            <th>Vyucujuci</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.id }}</td>
                <td>{{ subject.teacher_name }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ baseUrl }}/classMan/removeSubject/classid/{{ classId }}/subjectid/{{ subject.id }}"><i class="fa fa-close"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}