{% extends '/base.twig' %}

{% block title %}Štatistika{% endblock %}

{% block content %}
    <h3>Štatistika</h3>
    <p>

    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th class="sort"><i class="fa fa-sort"></i>Trieda</th>
            <th>Počet študentov</th>
            {% for subject in subjects %}
                <th>{{ subject.id }}</th>
            {% endfor %}
            <th>Priemer all</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classrooms %}
            <tr>
                <td>{{ class.name }}</td>
                <td>{{ class.nostudents }}</td>
                <td>{{ class.Anj }}</td>
                <td>{{ class.Dej }}</td>
                <td>{{ class.Geo }}</td>
                <td>{{ class.Hv }}</td>
                <td>{{ class.Chem }}</td>
                <td>{{ class.Mat }}</td>
                <td>{{ class.Sj }}</td>
                <td>{{ class.Tv }}</td>
                <td>{{ class.avg }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Trieda</th>
            <th>Meno</th>
            <th>Priemer</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classrooms %}
            {% for student in class.best3 %}
            <tr>

                <td>{{ student.name }}</td>
                <td>{{ student.student_login }}</td>
                <td>{{ student.priemer }}</td>

            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}